/* breadcrumps */
.breadcrumb {
  text-align: left;
  position: absolute;
}
.breadcrumb li {
  float: left;
}

.breadcrumb a {
  color: #fff;
  background: darkcyan;
  text-decoration: none;
  position: relative;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-right: 15px;
  padding: 5.9px 5px 7px 5px;
}

.breadcrumb a::before,
.breadcrumb a::after {
  content: "";
  position: absolute;
  border-color: darkcyan;
  border-style: solid;
  border-width: 15px 5px;
}

.breadcrumb a::before {
  left: -10px;
  border-left-color: transparent;
}

.breadcrumb a::after {
  left: 100%;
  border-color: transparent;
  border-left-color: darkcyan;
}

.breadcrumb li.attribute a {
  color: rgb(200, 200, 200);
}

.breadcrumb .location a:hover {
  background-color: hsla(88, 100%, 25%, 1);
}
.breadcrumb .location a:hover::before {
  border-color: hsla(88, 100%, 25%, 1);
  border-left-color: transparent;
}
.breadcrumb .location a:hover::after {
  border-left-color: hsla(88, 100%, 25%, 1);
}

/* breadcrumps */
